<br>
<div class="line">
    <br>
</div>

    <!--History and Background-->

<div class="about">
    <h2>
        History and Background
    </h2>
    <br>
    <div class="history-info">
     <p>Tsala Yami Preschool started in 2004, with some 20 children, in a makeshift structure at the backyard of a retirement home for Mr and Mrs Chigudu, at Dema Growthpoint in Seke, rural Zimbabwe.</p>
     <p>It is a project that was started as a response to the community need for ECD (Early Childhood Development) services and to keep a retired primary school headmaster and her teacher trained husband occupied.</p>
     <p>The first and still the main funding partners to the project were/are families members working in Botswana and South Africa.</p>
     <p>The name Tsala Yami was decided in 2006. It’s a Setswana phrase for “My Friend”. In July 2009 the preschool centre was registered with the Ministry of Education as an ECD centre (ECD/MASHEAST/8540).</p>
     <p>In May 2013, Tsala Yami Trust was registered as a public charitable trust (Reg: MA0569/2013) to run Tsala Yami as an ECD centre, to invite other funding and development partners and to expand into more development programs for children, youth and the community.</p>
    </div>
</div>
<br>

    <!--The founder-->
  <div class="founder ">
        <h2>
            Our Founder
        </h2>
        <br>
        <div class="row">
        <div class="founder-info">
         <p>Mrs.Jesca Chigudu is the founder of Tsala Yami. As a former headmaster with a love for children and teaching, she decided to
            start a small school in the back yard of her house in Dema. She took young children from around the area and offered to teach the basic concepts of reading, writing and mathematics to them.
            
         </p>

        </div>
        <div class="founder-img-container">

        </div>
    </div>
    </div>