
.about{
   margin: 40px 20px;
   margin-right: 40px;
   font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.history-info{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.181);
    padding: 20px 20px;
    background-color: rgb(235, 235, 235);
    font-size: small;
}


.founder-info{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.181);
    padding: 20px 20px;
    background-color: rgb(235, 235, 235);
    font-size: small;
    width: 70%;
    float:left;
}

.line{
    background-color: #561111 ;
    margin-top: -20px; 
    margin-bottom: 5px;
}


.founder{
    margin: 40px 20px;
    margin-right: 40px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
 }
 
 .founder-img-container{
    width: 30%;
    float: right;

 }